# This file contains the environment variables that are used in the project.
# Copy this file to .env and fill in the values for the environment variables.

NODE_ENV=development

DATABASE_URL=postgresql://postgres:mysecretpassword@localhost:5432/companies
API_TOKENS=garbo:auth-123,alex:auth-abc

OPENAI_API_KEY=
OPENAI_ORG_ID=
# Create a new Discord bot and get the token from the Discord Developer Portal
# https://discord.com/developers/applications
# https://discord.com/developers/applications/your-bot-id/bot
DISCORD_APPLICATION_ID=
DISCORD_TOKEN=

# Create your own Discord server and get the server ID
# First enable Developer Mode in Discord settings:
# https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID#h_01HRSTXPS5CRSRTWYCGPHZQ37H

DISCORD_SERVER_ID=
# https://discord.com/developers/applications/your-bot-id/oauth2-url-generator?scope=bot&permissions=8
# Create a new channel and get the channel ID (right-click on the channel and click on "Copy Channel ID")
DISCORD_CHANNEL_ID= 

# these are optional if you run in development mode, the code works fine without Llama cloud:
LLAMA_CLOUD_API_KEY=

# Get the DeepL API token from their dev portal.
DEEPL_API_KEY=