# This file contains the environment variables that are used in the project.
# Copy this file to .env and fill in the values for the environment variables.

NODE_ENV=development

DATABASE_URL=postgresql://postgres:mysecretpassword@localhost:5432/garbo
API_TOKENS=garbo:auth-123,alex:auth-abc

OPENAI_API_KEY=
# optional:
OPENAI_ORG_ID=

# Create a new Discord bot and get the token from the Discord Developer Portal
# https://discord.com/developers/applications
# https://discord.com/developers/applications/your-bot-id/bot
DISCORD_APPLICATION_ID=
DISCORD_TOKEN=

# Create your own Discord server and get the server ID
# First enable Developer Mode in Discord settings:
# https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID#h_01HRSTXPS5CRSRTWYCGPHZQ37H

DISCORD_SERVER_ID=
# https://discord.com/developers/applications/your-bot-id/oauth2-url-generator?scope=bot&permissions=8
# Create a new channel and get the channel ID (right-click on the channel and click on "Copy Channel ID")
DISCORD_CHANNEL_ID=

# NLM ingestor is used to parse PDF files, look at the README.md
NLM_INGESTOR_URL=http://0.0.0.0:5001

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_ORGANIZATION=Klimatbyran
GITHUB_REDIRECT_URI=http://localhost:5137/auth/callback
JWT_SECRET="1"
JWT_EXPIRES_IN=
WIKI_USERNAME=
WIKI_PASSWORD=

# Wikidata credentials
WIKIDATA_URL=https://test.wikidata.org #Use https://www.wikidata.org for production
WIKIDATA_CONSUMER_KEY=
WIKIDATA_CONSUMER_SECRET=
WIKIDATA_TOKEN=
WIKIDATA_TOKEN_SECRET=
