node_modules
dist
.env
.aider*
.env*
.DS_Store
!env.example
prisma/generated
*.xlsx
companies.json

# Ignore local SQLite databases
*.db
*.db-journal
*.pdf
*.code-workspace


# ignore secrets
*secret*

# Ignore accuracy results
output/accuracy/*
public/exports

.claude