node_modules
dist
.env
.aider*
.env*
.DS_Store
!env.example
prisma/generated
*.xlsx
companies.json

# Ignore local SQLite databases
*.db
*.db-journal
*.pdf
*.code-workspace

logs/*
# ignore secrets
*secret*

# Ignore accuracy results
output/accuracy/*
public/exports

.claude

# Ignore test files input markdown
src/jobs/*/tests/results/*
src/jobs/*/tests/comparison_results/*

# Ignore comparison results
src/jobs/*/tests/comparison_results/*

test.md


src/jobs/promptTestingFramework/src/*
