node_modules
dist
.env
.aider*
.env*
.DS_Store
!env.example
prisma/generated
*.xlsx

# Ignore local SQLite databases
*.db
*.db-journal
*.pdf
*.code-workspace

# Ignore accuracy results
output/accuracy-results.json