apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: garbo
spec:
  replicas: 5
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - image: ghcr.io/klimatbyran/garbo:3.4.26 # {"$imagepolicy": "flux-system:garbo"}
          resources: {}
          command: ['npm', 'run', 'workers']
          name: worker
          ports:
            - containerPort: 3000
          env:
            - name: WORKER
              value: 'true'
            - name: DISCORD_APPLICATION_ID
              valueFrom:
                secretKeyRef:
                  name: env
                  key: DISCORD_APPLICATION_ID
            - name: DISCORD_SERVER_ID
              valueFrom:
                secretKeyRef:
                  name: env
                  key: DISCORD_SERVER_ID
            - name: DISCORD_TOKEN
              valueFrom:
                secretKeyRef:
                  name: env
                  key: DISCORD_TOKEN
            - name: API_TOKENS
              valueFrom:
                secretKeyRef:
                  name: env
                  key: API_TOKENS
            - name: API_BASE_URL
              value: http://garbo/api
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: env
                  key: OPENAI_API_KEY
            - name: OPENAI_ORG_ID
              valueFrom:
                secretKeyRef:
                  name: env
                  key: OPENAI_ORG_ID
            # - name: CHROMA_TOKEN
            #   valueFrom:
            #     secretKeyRef:
            #       name: chromadb-auth
            #       key: token
            - name: CHROMA_HOST
              value: http://chromadb:8000
            - name: REDIS_HOST
              value: redis-master
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis
                  key: redis-password
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgresql
                  key: postgres-password
            - name: NLM_INGESTOR_URL
              value: http://nlm:5001
          imagePullPolicy: Always
