apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: garbo-stage
resources:
  - ../../base
patches:
  - path: ingress-patch.yaml
images:
  - name: ghcr.io/klimatbyran/garbo
    newTag: '5.4.4-rc.3' # {"$imagepolicy": "flux-system:garbo-stage:tag"}
